body {
    background-color: rgb(245, 243, 243);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #252525;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  nav a.active {
    font-weight: bold;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  section h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 24px;
    line-height: 1.5;
  }
  section nav a{
    display: block;
    font-weight: bold;
    color: #252525;
    font-size: 24px;
}
section nav img{
    display: block;
    width:40px;
    height:40px;
}

#repo-table{
    display: block;
    font-weight: normal;
    color: #252525;
    font-size: 12px;
}